DATA/
.RData
.Rhistory
.RDataTmp
.RDataTmp1
.Rproj.user
AI.xlsx
AN.xlsx
CI.xlsx
CS.xlsx
data_xlsx
data_2023.xlsx
data_processing.R
data_processing2.R
data_processing0318.R
data.xlsx
DM.xlsx
DT.xlsx
EI.xlsx
EM.xlsx
example입원일수 - QI.xlsx
EY.xlsx
FM.xlsx
GI.xlsx
group_stats.xlsx
GS.xlsx
HI.xlsx
IC.xlsx
II.xlsx
NI.xlsx
NM.xlsx
NS.xlsx
NU.xlsx
OG.xlsx
OL.xlsx
OS.xlsx
PC.xlsx
PD.xlsx
PI.xlsx
PS.xlsx
RI.xlsx
RM.xlsx
summary.R
UR.xlsx
입원일수 데이터_(2023년)_최종.xlsx
.gitignore
